@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_soulmaze';
    src: url(../font/made_soulmaze/MADE\ Soulmaze\ PERSONAL\ USE.otf) format("opentype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable', sans-serif;}

body, html {
    width: 100%;
    height: 100%;
		background-image: url('../img/web-background-3.png'); /* 이미지 경로는 실제 위치에 맞게 조정해야 합니다. */
		background-size: cover; /* 이미지가 전체 화면을 꽉 채우도록 조정 */
		background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}


#full-page{
background-image: url(../img/web-background-2.png);
background-repeat: no-repeat;
background-size: cover;}

/* Style for the logo */

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 109px;
    background-color: #fffefe;
    padding-left: calc(1005px / 1920 * 100vw); /* 첫 번째 버튼의 시작 위치를 조정합니다. */
}

.navbar h1 {
    width: 260px;
    height: 53px;
    top: 29px;
    left: 323px;
    font-family: 'made_soulmaze', sans-serif;
    letter-spacing: 0em;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    color: #0034A6;
}

.navbar h1 a {
    width: 260px;
    height: 53px;
    top: 29px;
    left: 323px;
    font-family: 'made_soulmaze', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    color: #0034A6;
    margin-left: 10px;
    text-decoration: none; /* 링크 밑줄 제거 */
}


.navbar-button {
    height: 22px;
    font-size: 20px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 100px; /* 각 버튼 사이의 간격을 조정합니다. */
}
/* 로고와 버튼들 사이의 공간을 만들기 위한 설정 */
.navbar > .spacer {
    flex-grow: 1;
}

#history {
    margin-right: 100px; /* 마지막 버튼이므로 마진을 제거합니다. */
}

.navbar-line {
    position: absolute;
    top: 109px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #DFDFDF;
    border: 2px solid #DFDFDF;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.top-section {
    position: relative;
    width: 1920px;
    height: auto; /* 높이는 내용에 따라 자동으로 결정되도록 설정 */
}



.box-font {
	color: rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width: 141px;
	height: 39px;
	position: absolute;
	white-space: nowrap;
	left: 225px;
	top: 100px;
    font-family:'NanumSquareNeo-Variable', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 35px;
	letter-spacing: -1;
}

.box-explanation {
	color: rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width: 202px;
	height: 55px;
	position: absolute;
	left: 195px;
	top: 183px;
    font-family:'NanumSquareNeo-Variable', sans-serif;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0;
}

.box-img-human {
	width: 199px;
	height: 214px;
	position: absolute;
	left: 197px;
	top: 291px;
	background-image: url(../img/3d-realistic-people-icon-vector-illustration-1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.summary-box {
	width: 592px;
	height: 592px;
	position: absolute;
	left: 1005px;
	top: 294px;
	box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.05000000074505806);
	background-color: rgba(255, 255, 255, 0.699999988079071);
	position: absolute;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
}

.analyze-box {
	box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.05000000074505806);
	background-color: rgba(255, 255, 255, 0.699999988079071);
	width: 592px;
	height: 592px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	width: 592px;
	height: 592px;
	position: absolute;
	left: 323px;
	top: 294px;
}

.box-img-script {
	width: 231px;
	height: 214px;
	position: absolute;
	left: 185px;
	top: 296px;
	background-image: url(../img/screenshot-2024-01-01-at-4.46-1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.animated-link {
  transition: transform 0.5s ease;
}

.animated-link:hover {
  transform: translateY(-5px);
}
