.full-page { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/frontend/static/img/web-backgraound-2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.top-block { 
	background-color:rgba(255, 255, 255, 0.5);
	width:1920px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}

.top-body-division { 
	transform: rotate(0.000005008956130975318deg);
	border:2px solid rgba(222.55639851093292, 222.55639851093292, 222.55639851093292, 1);
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:109px;
}

.button-block { 
	width:592px;
	height:22px;
	position:absolute;
	left:1005px;
	top:45px;
}

.analyze-button { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.summary-button { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:172px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.member-button { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:344px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.history-button { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:76px;
	height:22px;
	position:absolute;
	left:516px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.logo { 
	color:rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width:260px;
	height:53px;
	position:absolute;
	left:323px;
	top:29px;
	font-family:MADE Soulmaze;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}

.analyze-box { 
	width:592px;
	height:592px;
	position:absolute;
	left:323px;
	top:294px;
}

.box-font { 
	color:rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width:141px;
	height:39px;
	position:absolute;
	left:225px;
	top:100px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:35px;
	letter-spacing:-1;
}

.box-explanation { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:202px;
	height:55px;
	position:absolute;
	left:195px;
	top:183px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}

.box-img-human { 
	width:199px;
	height:214px;
	position:absolute;
	left:197px;
	top:291px;
	background-image:url(/frontend/static/img/3d-realistic-people-icon-vector-illustration-1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.summary-box { 
	width:592px;
	height:592px;
	position:absolute;
	left:1005px;
	top:294px;
}



.analyze-box-detail { 
	box-shadow:2px 4px 50px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 0.699999988079071);
	width:592px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}



.box-img-script { 
	width:231px;
	height:214px;
	position:absolute;
	left:185px;
	top:296px;
	background-image:url(/frontend/static/img/screenshot-2024-01-01-at-4.46-1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
