@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_soulmaze';
    src: url(../font/made_soulmaze/MADE\ Soulmaze\ PERSONAL\ USE.otf) format("opentype");
}

body {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
  font-size: 1.5em;
}
#full-page{
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 109px;
    background-color: #fffefe;
    padding-left: calc(1005px / 1920 * 100vw); /* 첫 번째 버튼의 시작 위치를 조정합니다. */
}

.navbar h1 {
    width: 260px;
    height: 53px;
    top: 29px;
    left: 323px;
    font-family: 'made_soulmaze', sans-serif;
    letter-spacing: 0em;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    color: #0034A6;
}

.navbar h1 a {
    width: 260px;
    height: 53px;
    top: 29px;
    left: 323px;
    font-family: 'made_soulmaze', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    color: #0034A6;
    margin-left: 10px;
    text-decoration: none; /* 링크 밑줄 제거 */
}


.navbar-button {
    height: 22px;
    font-size: 20px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 100px; /* 각 버튼 사이의 간격을 조정합니다. */
}
/* 로고와 버튼들 사이의 공간을 만들기 위한 설정 */
.navbar > .spacer {
    flex-grow: 1;
}

#history {
    margin-right: 100px; /* 마지막 버튼이므로 마진을 제거합니다. */
}

.navbar-line {
    position: absolute;
    top: 109px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #DFDFDF;
    border: 2px solid #DFDFDF;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}


#team-members {
  position: absolute;
  top: 25%;
  left: 5%;
  
}

#team-members .member {
  float: center;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
  margin: 0 18px 18px 0; /* 위쪽과 왼쪽으로는 간격을 주지 않고, 오른쪽과 아래쪽으로 20px 간격을 줌 */
}

#team-members .member img {
	width: 200px; /* 이미지 너비 */
	height: 200px; /* 이미지 높이 */
	margin: 0 18px 18px 0; /* 오른쪽과 아래쪽으로 20px 간격 */
	border-radius: 10px; /* 모서리를 둥글게 */
	box-shadow: 0 8px 15px rgba(0,0,0,0.2); /* 이미지에 그림자 추가 */
	transition: transform 0.3s ease; /* 마우스 오버 시 애니메이션 효과 */
}

#team-members .member div.name {
  text-align: center;
	margin: 0 18px 18px 0; /* 위쪽과 왼쪽으로는 간격을 주지 않고, 오른쪽과 아래쪽으로 20px 간격을 줌 */
    font-family: 'NanumSquareNeo-Variable', sans-serif;
	color: #909090;
	font-size: 14px; /* 폰트 크기를 14px로 변경합니다. */
}

.member {
  position: relative;
  display: inline-block;
}

.member .name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 95%;
  opacity: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.member:hover .name-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}



.Prometheus {
	position: absolute;
	bottom: 10%;
    font-family: 'NanumSquareNeo-Variable', sans-serif;
	font-weight: 900;
	left: 35%;
	width: 80%;
}
