@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_soulmaze';
    src: url(../font/made_soulmaze/MADE\ Soulmaze\ PERSONAL\ USE.otf) format("opentype");
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable', sans-serif;}

    body, html {
    width: 1920px;
    height: 1705px;
}

input[type="file"] {
    display: none;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 109px;
    background-color: #fffefe;
    padding-left: calc(1005px / 1920 * 100vw); /* 첫 번째 버튼의 시작 위치를 조정합니다. */
}

.navbar h1 {
    width: 260px;
    height: 53px;
    top: 29px;
    left: 323px;
    font-family: 'made_soulmaze', sans-serif;
    letter-spacing: 0em;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    color: #0034A6;
}

.navbar h1 a {
    width: 260px;
    height: 53px;
    top: 29px;
    left: 323px;
    font-family: 'made_soulmaze', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    color: #0034A6;
    margin-left: 10px;
    text-decoration: none; /* 링크 밑줄 제거 */
}


.navbar-button {
    height: 22px;
    font-size: 20px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 100px; /* 각 버튼 사이의 간격을 조정합니다. */
}
/* 로고와 버튼들 사이의 공간을 만들기 위한 설정 */
.navbar > .spacer {
    flex-grow: 1;
}

#history {
    margin-right: 100px; /* 마지막 버튼이므로 마진을 제거합니다. */
}

.navbar-line {
    position: absolute;
    top: 109px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #DFDFDF;
    border: 2px solid #DFDFDF;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.top-section {
    position: relative;
    width: 1920px;
    height: auto; /* 높이는 내용에 따라 자동으로 결정되도록 설정 */
}

.paper-icon {
    position: absolute;
    top: 179px;
    left: 334px;
    width: 44px;
    height: 48px;
    /* 이미지를 배경으로 사용하지 않으므로 background 속성은 제거합니다. */
}

.analysis-text {
    position: absolute;
    top: 188px;
    left: 393px;
    width: 121px;
    height: 33px;
    font-family: 'NanumSquareNeo-Variable', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #0034A6;
}
.analysis-box {
    cursor : pointer;
    width: 415px;
    height: 244px; /* 높이를 필요에 따라 조정할 수 있습니다 */
    position: absolute;
    top: 285px;
    left: 323px;
    border-radius: 10px;
    background:linear-gradient(0deg, #FCFCFC, #FCFCFC);
    border: 2px dashed #BBB;
    display: flex;
    align-items: center;
    justify-content: space-around; /* 내부 요소들 사이의 공간을 균등하게 분배합니다 */
    flex-direction: column;
}
#analysis-exp-text {
    color: #909090;
    text-align: center;
    font-family: 'NanumSquareNeo', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    display: felx;
    letter-spacing: -0.01em;
}
#analysis-exp-text2 {
    color: #BBB;
    text-align: center;
    font-family: "NanumSquareNeo", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.12px;
    position : absolute;
    justify-content : center;
    padding-top : 70px;
    display: flex;
}
#analysis-exp-text3{
    color: #909090;
    font-family: 'NanumSquareNeo', sans-serif;
    font-size: 15px;
    font-weight: 700;
    /*font-style: normal;*/
    line-height: 17px;
    text-align: center;
    position : absolute;
    top : 160px;
    left : 180px;
}
.upload_svg {
    position : absolute;
    top : 59px;
    left : 187px;

}
.uploadBox {
    position: absolute;
    top : 35px;
    left : 35px;
    border-radius: 10px;
    background: #F6F6F6;
    width: 346px;
    height: 80px;
    flex-shrink: 0;
}
.delete_svg{
    width: 15.556px;
    height: 15.556px;
    transform: rotate(315);
    flex-shrink: 0;
    border: none;
    background: none;
    cursor: pointer;
    position : absolute;
    top : 348.5px;
    left : 659px;
  }

.analButton {
    cursor: pointer;
    position: absolute;
    top : 162px;
    left : 133px;
    width: 150px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #0034A6;
}

.anal_circle_container{
    position : absolute;
    top: 100px;
    left : 100px;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid white;
  }
  #anal_spinner {
    position : absolute;
    top: 170px;
    left : 410px;
    margin: calc(50% - 25px) auto;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  
    border: 3px solid #DFDFDF;  
    border-top-color: #0034A6;
    border-radius: 100%;
    animation:spin 1s ease-in-out infinite;
  }
  @keyframes spin{
    100%
    {transform: rotate(360deg);
    }
  }

.circle-checkmark {
    width: 58px;
    height: 58px;
    border: 4px solid #BBBBBB;
    border-radius: 50%;
    display: flex;
    top: 335px;
    left: 931;
}

.checkmark {
    display: block;
    width: 100%;
    height: 100%;
}

.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke: #BBBBBB;
    stroke-linecap: round;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    stroke-width: 2;
    stroke: #BBBBBB;
    fill: none;
    stroke-linecap: round;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

.analysis-complete-text {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #909090;
    width: 60px;
    height: 17px;
    top: 419px;
    left: 930px;

}

.file-name-display {
    width: 416px;
    height: 80px;
    position: absolute;
    top: 549px;
    left: 323px;
    border-radius: 10px;
    background: #F6F6F6;
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: start; /* 시작 지점부터 아이템 배치 */
    padding-left: 20px; /* 왼쪽 패딩 */
    padding-right: 20px; /* 오른쪽 패딩 */
}

.docs-icon {
    width: 24px; /* 아이콘의 너비 */
    height: 24px; /* 아이콘의 높이 */
    margin-right: 10px; /* 아이콘과 텍스트 사이의 오른쪽 마진 */
}

.file-name {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
    font-size: 16px; /* 파일 이름의 폰트 크기 */
    color: #333; /* 파일 이름의 폰트 색상 */
}


.summary-box {
    width: 834px;
    height: 675px;
    position: absolute;
    top: 285px;
    left: 763px;
    border-radius: 10px;
    background: 
                linear-gradient(0deg, #FCFCFC, #FCFCFC);
    border: 1.5px solid #DFDFDF;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    padding: 20px;
}

.line {
    position: absolute;
    width: 275px;
    height: 2px;
    background: #BBBBBB;
}

.first-line {
    top: 50px; /* 조정된 위치 */
    left: 20px; /* 조정된 위치 */
}

.second-line {
    top: 50px; /* 조정된 위치 */
    right: 20px; /* 조정된 위치 */
}

.summary-title {
    position: absolute;
    top: 50px; /* 조정된 위치 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: 800;
    line-height: 28px;
    color: #000000;
    padding: 0 10px;
}

.summary-content {
    margin-top: 60px; /* 선과 요약 결과 텍스트 아래 여백 */
    height: calc(100% - 80px); /* 상자 높이에서 제목과 여백을 제외한 높이 */
}

#pdf_svg{
    position: absolute;
    top: 21px;
    left : 29px;
}
.result_svg{
    position: relative;
    top : 30%;
    left : 7%;
}

.svg4 {
    position : absolute;
    top: 80px;
    left : 180px;
}

#fileNameElementId{
    color: #909090;
    font-family: 'NanumSquare Neo';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.15px;
    position : absolute;
    top: 22px;
    left: 87px;
}
#fileNameElementId2{
    color: #FFF;
    text-align: center;
    font-family: "NanumSquare Neo";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.16px;
    position: absolute;
    top : 14px;
    left : 46px;
}
#fileNameElementId3{
    color: #BBB;
    font-family: "NanumSquare Neo";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.12px;
    position: absolute;
    top: 48px;
    left: 87px;
}

