uvicorn
fastapi
numpy 
opencv-python 
onnxruntime
pillow
PyMuPDF2
python-docx
transformers
dlib == 19.17.*
SpeechRecognition
pydub
ffmpeg-python
python-multipart
Jinja2
cmake
torch 
torchvision
torchaudio