@font-face {
    font-family: 'made_soul_maze'; /* Name you'll use to refer to the font */
    src: url('css_font_file/made_soulmaze/MADE\ Soulmaze\ PERSONAL\ USE.otf') format('otf');/* Path to the font file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanum_square_extra_bold'; /* Name you'll use to refer to the font */
    src: url('css_font_file/NanumSquareNeo/웹폰트/eot/NanumSquareNeoTTF-dEb.eot') format('eot'),
        url('css_font_file/NanumSquareNeo/웹폰트/woff/NanumSquareNeoTTF-dEb.woff') format('woff'),
        url('css_font_file/NanumSquareNeo/웹폰트/eot/NanumSquareNeoTTF-dEb.woff2') format('woff2'),
        url('css_font_file/NanumSquareNeo/OTF/NanumSquareNeoOTF-Eb.otf') format('otf'),
        url('css_font_file/NanumSquareNeo/TTF/NanumSquareNeo-dEb.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url('./img_folder/web-background-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.menu-bar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(109, 109, 109);
}

.menu-bar a {
    display: block;
    color: #909090;
    font-family : 'nanum_square_extra_bold';
    font-size : 20px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Style for the logo */
.menu-bar .logo {
    font-size: 40px; /* Adjust as needed */
    font-family : 'made_soul_maze', sans-serif;
    color: #0034A6;
    font-weight: bold;
}

/* Container for menu items */
.menu-items {
    display: flex;
}

/* Change the color of links on hover */
.menu-bar a:hover {
    background-color: #ddd;
    color: black;
}
