.e13_61 { 
	overflow:hidden;
}

.e13_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}

.e39_545 {
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../img_folder/web_backgraound_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e39_546 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image: url(../img_folder/web_backgraound_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e39_562 { 
	background-color:rgba(255, 255, 255, 0.5);
	width:1920px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}

.e39_563 { 
	transform: rotate(0.000005008956130975318deg);
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:109px;
}

.e39_563 { 
	border:2px solid rgba(222.55639851093292, 222.55639851093292, 222.55639851093292, 1);
}

.e39_564 { 
	width:592px;
	height:22px;
	position:absolute;
	left:1005px;
	top:45px;
}

.e39_565 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e39_566 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:172px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e39_567 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:344px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e39_568 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:76px;
	height:22px;
	position:absolute;
	left:516px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e39_569 { 
	color:rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width:260px;
	height:53px;
	position:absolute;
	left:323px;
	top:29px;
	font-family:MADE Soulmaze;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}

.e39_580 { 
	width:592px;
	height:592px;
	position:absolute;
	left:323px;
	top:294px;
}

.e39_548 { 
	width:592px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
}

.ei39_548_28_185 { 
	box-shadow:2px 4px 50px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 0.699999988079071);
	width:592px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}

.i39_548_28_185 { 
	border:1.5px solid rgba(222.55639851093292, 222.55639851093292, 222.55639851093292, 1);
}

.e39_550 { 
	width:56px;
	height:56px;
	position:absolute;
	left:496px;
	top:496px;
}

.e39_551 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.05999999865889549);
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}

.e39_552 { 
	width:15px;
	height:15px;
	position:absolute;
	left:20px;
	top:20px;
}

.e39_553 { 
	background-color:rgba(255, 255, 255, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:3px;
	top:0px;
}

.e39_553 { 
	border:2px solid rgba(0, 0, 0, 1);
}

.e39_554 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}

.e39_555 { 
	background-color:rgba(255, 255, 255, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}

.e39_555 { 
	border:2px solid rgba(0, 0, 0, 1);
}

.e39_570 { 
	color:rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width:141px;
	height:39px;
	position:absolute;
	left:225px;
	top:100px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:35px;
	letter-spacing:-1;
}

.e39_572 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:202px;
	height:55px;
	position:absolute;
	left:195px;
	top:183px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}

.e39_574 { 
	width:199px;
	height:214px;
	position:absolute;
	left:197px;
	top:291px;
	background-image:url(../img_folder/people-illustration.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e39_579 { 
	width:592px;
	height:592px;
	position:absolute;
	left:1005px;
	top:294px;
}

.e39_547 { 
	width:592px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
}

.ei39_547_28_185 { 
	box-shadow:2px 4px 50px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 0.699999988079071);
	width:592px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}

.i39_547_28_185 { 
	border:1.5px solid rgba(222.55639851093292, 222.55639851093292, 222.55639851093292, 1);
}

.e39_556 { 
	width:56px;
	height:56px;
	position:absolute;
	left:496px;
	top:496px;
}

.e39_557 { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 0.05999999865889549);
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}

.e39_558 { 
	width:15px;
	height:15px;
	position:absolute;
	left:20px;
	top:20px;
}

.e39_559 { 
	background-color:rgba(255, 255, 255, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:3px;
	top:0px;
}

.e39_559 { 
	border:2px solid rgba(0, 0, 0, 1);
}

.e39_560 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}

.e39_561 { 
	background-color:rgba(255, 255, 255, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}

.e39_561 { 
	border:2px solid rgba(0, 0, 0, 1);
}

.e39_571 { 
	color:rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width:141px;
	height:39px;
	position:absolute;
	left:225px;
	top:100px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:35px;
	letter-spacing:-1;
}

.e39_573 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:246px;
	height:55px;
	position:absolute;
	left:172px;
	top:183px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}

.e39_575 { 
	width:231px;
	height:214px;
	position:absolute;
	left:185px;
	top:296px;
	background-image:url(../img_folder/skletch-illustration.png);
	background-repeat:no-repeat;
	background-size:cover;
}
