.e46_358 { 
	overflow:hidden;
}

.e46_358 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}

.e46_359 { 
	width:415px;
	height:244px;
	position:absolute;
	left:323px;
	top:285px;
}

.ei46_359_39_299 { 
	width:415px;
	height:244px;
	position:absolute;
	left:0px;
	top:0px;
}

.ei46_359_39_300 { 
	background-color:rgba(251.71288758516312, 251.71288758516312, 251.71288758516312, 1);
	width:415px;
	height:244px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.i46_359_39_300 { 
	border:2px solid rgba(187.078857421875, 187.078857421875, 187.078857421875, 1);
}

.e46_360 { 
	background-color:rgba(255, 255, 255, 1);
	width:830px;
	height:700px;
	position:absolute;
	left:767px;
	top:285px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.e46_360 { 
	border:1.5px solid rgba(223.37817281484604, 223.37817281484604, 223.37817281484604, 1);
}

.e46_361 { 
	width:737px;
	height:22px;
	position:absolute;
	left:814px;
	top:338px;
}

.e46_362 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:328px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e46_363 { 
	transform: rotate(-0.000005008956538086317deg);
	width:275px;
	height:0px;
	position:absolute;
	left:0px;
	top:11px;
}

.e46_363 { 
	border:2px solid rgba(187.078857421875, 187.078857421875, 187.078857421875, 1);
}

.e46_364 { 
	transform: rotate(0.000005008956130975318deg);
	width:275px;
	height:0px;
	position:absolute;
	left:462px;
	top:11px;
}

.e46_364 { 
	border:2px solid rgba(187.078857421875, 187.078857421875, 187.078857421875, 1);
}

.e46_367 { 
	transform: rotate(0.000005008956130975318deg);
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:109px;
}

.e46_367 { 
	border:2px solid rgba(222.55639851093292, 222.55639851093292, 222.55639851093292, 1);
}

.e46_368 { 
	color:rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width:260px;
	height:53px;
	position:absolute;
	left:323px;
	top:29px;
	font-family:MADE Soulmaze;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}

.e46_369 { 
	width:592px;
	height:22px;
	position:absolute;
	left:1005px;
	top:45px;
}

.e46_370 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e46_371 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:172px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e46_372 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:344px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e46_373 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:76px;
	height:22px;
	position:absolute;
	left:516px;
	top:0px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:20px;
	letter-spacing:-1;
}

.e46_374 { 
	width:194px;
	height:125.55511474609375px;
	position:absolute;
	left:434px;
	top:344px;
}

.e46_375 { 
	color:rgba(187.078857421875, 187.078857421875, 187.078857421875, 1);
	width:116px;
	height:34px;
	position:absolute;
	left:39px;
	top:91.55511474609375px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:12px;
	letter-spacing:-1;
}

.e46_376 { 
	color:rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
	width:194px;
	height:17px;
	position:absolute;
	left:0px;
	top:59.55517578125px;
	font-family:NanumSquare Neo;
	text-align:center;
	font-size:15px;
	letter-spacing:-1;
}

.e46_377 { 
	width:39.55510711669922px;
	height:39.55510711669922px;
	position:absolute;
	left:76.44482421875px;
	top:0px;
}

.e46_378 { 
	overflow:hidden;
}

.e46_378 { 
	width:39.55510711669922px;
	height:39.55510711669922px;
	position:absolute;
	left:0px;
	top:0px;
}

.e46_380 { 
	width:29.66632843017578px;
	height:29.66632843017578px;
	position:absolute;
	left:4.944431304931641px;
	top:4.944381237030029px;
}

.e46_381 { 
	border:3px solid rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
}

.e46_381 { 
	width:29.66632843017578px;
	height:14.83316421508789px;
	position:absolute;
	left:-0.00008019701635930687px;
	top:14.833186149597168px;
}

.e46_382 { 
	border:3px solid rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
}

.e46_382 { 
	width:14.83316421508789px;
	height:7.416582107543945px;
	position:absolute;
	left:7.416566848754883px;
	top:-0.000007961723895277828px;
}

.e46_383 { 
	border:3px solid rgba(143.91894936561584, 143.91894936561584, 143.91894936561584, 1);
}

.e46_383 { 
	position:absolute;
	left:14.826236724853516px;
	top:-0.000007961723895277828px;
}

.e46_529 { 
	color:rgba(0, 52.000000700354576, 166.00000530481339, 1);
	width:121px;
	height:33px;
	position:absolute;
	left:393px;
	top:188px;
	font-family:NanumSquare Neo;
	text-align:left;
	font-size:30px;
	letter-spacing:-1;
}

.e46_530 { 
	width:51px;
	height:48px;
	position:absolute;
	left:330px;
	top:181px;
	background-image:url(web_demo/static/img_folder/skletch-illustration.png);
	background-repeat:no-repeat;
	background-size:cover;
}
