<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>AI 발표 분석</title>
  <meta name="description" content="AI 발표 분석 웹 개발 프로젝트">
  <meta name="author" content="프로메테우스">
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

  <div id="full-page"></div>

    <div class="navbar">
      <h1><a href="/" style="color: inherit; text-decoration: none;">SPEECH PT</a></h1>
      <div class="navbar-button" id="analysis"><a href="/pt_upload" style="color: inherit; text-decoration: none;">발표 분석</a></div>
      <div class="navbar-button" id="summary"><a href="/sum_upload" style="color: inherit; text-decoration: none;">자료 요약</a></div>
      <div class="navbar-button" id="member"><a href="/member" style="color: inherit; text-decoration: none;">멤버 소개</a></div>
      <div class="navbar-button" id="history"><a href="https://github.com/use08174/SpeechPT" style="color: inherit; text-decoration: none;">History</a></div>
  </div>
  <div class="navbar-line"></div>
  <div class="top-section">
    
    <a class="analyze-box animated-link" href="/pt_upload/">
      <span class="box-font">발표 분석</span>
      <span class="box-explanation">업로드된 발표 영상의 음성과 얼굴을 분석합니다.</span>
      <div class="box-img-human"></div>
    </a>

    <a class="summary-box animated-link" href="/sum_upload/">      
      <span class="box-font">자료 요약</span>
      <span class="box-explanation">발표 자료(ppt, docx, pdf)의 문자를 추출하여 요약합니다.</span>
      <div class="box-img-script"></div>
    </a>


  </div>

  <script src="../static/js/main.js"></script>
</body>

</html>