<!DOCTYPE html>
<html>

<head>
  <title>Team Members</title>
  <link rel="stylesheet" type="text/css" href="../static/css/member_style.css">
</head>

<body>
  <div id="full-page">

  <div class="top-block"></div>
  <div class="top-body-division"></div>

  <div class="button-block">
    <span class="analyze-button">
      <a href="/pt_upload">발표 분석</a>
    </span>
    <span class="summary-button">
      <a href="/sum_upload">자료 요약</a>
    </span>
    <span class="member-button">
      <a href="/member">멤버 소개</a>
    </span>
    <span class="history-button">
      <a href="https://github.com/use08174/SpeechPT">History</a>
    </span>
  </div>

  <a href = "/"  class="logo">Speech PT</a>



  <div id="team-members">



    <div class="member">
      <img src="../static/img/sumin.jpeg">
      <div class="name">
        <b>심수민</b> <br/>
        <b>use08174</b> <br/>
        <b>Sound, Backend</b>
        <div class="name-overlay">연세대학교 </br> 컴퓨터과학과</div> <!-- 소속 정보가 들어갈 부분 -->
      </div>
    </div>

    <div class="member">
      <img src="../static/img/ahram.JPG">
      <div class="name">
        <b>배아람</b> <br/>
        <b>BARAM1NG</b> <br/>
        <b>Sound, Frontend</b>
        <div class="name-overlay">경희대학교 </br> 경영학과</div> <!-- 소속 정보가 들어갈 부분 -->
      </div>
    </div>

    <div class="member">
      <img src="../static/img/suhong.jpeg">
      <div class="name">
        <b>김수홍</b> <br/>
        <b>soooo-hong</b> <br/>
        <b>Sound, Frontend</b>
        <div class="name-overlay">서울시립대학교 </br> 인공지능학과</div> <!-- 소속 정보가 들어갈 부분 -->
      </div>
    </div>

    <div class="member">
      <img src="../static/img/seunghyun.jpeg">
      <div class="name">
        <b>문승현</b> <br/>
        <b>lunash0</b> <br/>
        <b>Video, Backend</b>
        <div class="name-overlay">단국대학교 </br> 컴퓨터공학과</div> <!-- 소속 정보가 들어갈 부분 -->
      </div>
    </div>

    <div class="member">
      <img src="../static/img/namseunghyun.jpeg">
      <div class="name">
        <b>남승현</b> <br/>
        <b>sh0311</b> <br/>
        <b>Video, Backend</b>
        <div class="name-overlay">이화여자대학교 </br> 컴퓨터공학과</div> <!-- 소속 정보가 들어갈 부분 -->
      </div>
    </div>

    <div class="member">
      <img src="../static/img/Seoyeon.jpeg">
      <div class="name">
        <b>임서연</b> <br/>
        <b>2021125040</b> <br/>
        <b>Text, Backend</b>
        <div class="name-overlay">이화여자대학교 </br> 인공지능학과</div> <!-- 소속 정보가 들어갈 부분 -->
      </div>
    </div>

    <div class="member">
      <img src="../static/img/Sunmi.jpeg">
      <div class="name">
        <b>윤선미</b> <br/>
        <b>luxmeily</b> <br/>
        <b>Text, Frontend</b>
        <div class="name-overlay">성신여자대학교 </br> AI융합학부</div> <!-- 소속 정보가 들어갈 부분 -->
      </div>
    </div>

  </div>

  <div class='Prometheus'> Prometheus Club Project AI Presentation Practice web </div>

  </div>


</body>

</html>