<!DOCTYPE html>
<html>
<head>
  <title>Team Members</title>
  <link rel="stylesheet" type="text/css" href="../static/css/member_style.css">
</head>
<body>

  <h1>AI 발표 연습 dev-member</h1>
  
  <div id="team-members">
    <h2>Team Members</h2>

  
    <div class="member">
      <img src="images/avatar.png">
      <div class="name">
        Person A
      </div>
    </div>

    <div class="member">
      <img src="images/avatar.png">
      <div class="name">
        Person B
      </div>
    </div>

    <div class="member">
      <img src="images/avatar.png">
      <div class="name">
        Person C
      </div>
    </div>

    <div class="member">
      <img src="images/avatar.png">
      <div class="name">
        Person D
      </div>
    </div>

    <div class="member">
      <img src="images/avatar.png">
      <div class="name">
        Person E
      </div>
    </div>

    <div class="member">
      <img src="images/avatar.png">
      <div class="name">
        Person F
      </div>
    </div>

  </div>

</body>
</html>